.fileUploadQueueItem
{
		font: 11px Tahoma, Verdana;
		background-color: #fafafa;
		border: 1px solid #E5E5E5;
		margin-top: 5px;
		padding: 10px;
		width: 300px;
}
.fileUploadQueueItem .cancel {
	float: right;
}
.fileUploadProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.fileUploadProgressBar
{
	background-color: #0099FF;
}